*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Averia Serif Libre', cursive;
}
.title-text{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}
body{
    font-family: 'Averia Serif Libre', cursive;
    line-height: 1.5;
}
/*------------header-------------*/

.header{
    min-height:100vh;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)),
     url('ncimages/specials11.jpg') center/cover no-repeat fixed;
     margin-top:auto;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom:25%;
    right:1.6%;
    background-attachment: fixed;
    width:100%;
    height:100%;
}
.hero .title{
    color:#fff;
    font-size: 40px;
    letter-spacing: 1px;
}

.hero-button{
    display:inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding:13px 20px;
    border-radius:120px;
    font-weight:lighter;
    font-style:inherit;
    background:black;
    color:#fff;
    cursor:pointer;
    border:2px solid black;
    margin-top:10px;
    letter-spacing: 1px;
}
.hero-button:hover {
    background:#fff;
    color:red;
    border:none;
    
}

.pulsate {
    animation: pulsate 3s ease-in-out;
    animation-iteration-count: infinite;
    opacity : .3;
    color:chocolate;
}
@-webkit-keyframes pulsate {
    0%{
        opacity: .3;
    }
    50%{
        opacity:1;
    }
    100%{
        opacity:.3;
    }
}
/*--------header end-------------*/

/*------------nav------------*/

nav{
    display:flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    flex:1;
    text-align: right;
    position: relative;
    left: -100px;
    font-family: 'Averia Serif Libre', cursive;
    font-weight: bold;
    
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding:8px 12px;
    position: relative;
}
.nav-links ul li a {
    color:black;
    text-decoration: none;
    font-size: 20.5px;
}
.nav-links ul li a::before {
    content: ' ';
    width:10px;
    height:10px;
    position: absolute;
    left: 25px;
    bottom:11px;
    border: 4px solid black;
    border-width: 0 0 2px 2px;
    transition: all 0.5s;
    opacity: 0;
   
}
.nav-links ul li a::after {
    content: ' ';
    width:10px;
    height:10px;
    position: absolute;
    top:19px;
    right: 11px;
    border: 4px solid black;
    border-width: 2px 2px 0 0;
    transition: all 0.5s;
    opacity: 0;
   
}
.nav-links ul li a:hover::before {
    left:6px;
    bottom:8px;
    opacity: 1;
}
.nav-links ul li a:hover::after{
    top:7px;
    right:5px;
    opacity: 1;
}
.nav-links ul li a:hover {
     background-color:grey;
     color:black;
}


/*-------------Nav end-----------*/
@media(max-width:700px){

    .hero .title{
        font-size: 23px;
    }
    .hero-button {
        font-size: 12px;
    }
    .nav-links ul li a{
        font-size: 11px;
    }
}

/*--------features---------*/

#features {
    padding:40px;
}
.features {
    margin: 30 0;
    display: flex;
}
.features-icon  .fas{
    font-size: 35px;
    color:darkblue;
    margin-right: 10px;
}
.features-subtitle {
    text-transform: capitalize;
    color:black;
    font-size: 25px;
}
.features-info {
    margin-top: 15px;
    line-height: 1.5;
}

.features-icon:hover .fas,
.features-subtitle:hover {
    transition: transform 2s ease, color 2s ease;
    transform: translateY(-10px);
    color:cadetblue;
    cursor:pointer;
}

@media screen and (min-width: 576px){
    .features-center {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .features {
        flex: 0 0 calc(50% - 16px);
    }
}

@media screen and (min-width: 972px){
    .features {
        flex: 0 0 calc(33.3% - 16px);
    }
}

/*--------features end------*/

/*------------Menu-----------*/

.menu-image {
    min-height: 80vh;
    background: url(ncimages/zoom18.4.jpg) center/cover fixed no-repeat;
}
.menu-text {
    min-height: 80vh;
    align-items: center;
    background:#cce3de;
    columns: #000;
    padding: 40px 0;
}
.menu-text-center {
    width: 90%;
    margin: 0 auto;
}
.menu-text h1 {
    font-size: 60px;
    letter-spacing: 15px;
    text-transform: uppercase;
    margin-bottom: 10px ;
}
menu.text p {
    margin: 20px 0;
    line-height: 2;
}
.menu-text a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding:13px 20px;
    border-radius: 100px;
    font-size: 13px;
    margin-top: 10px;
    font-weight: bold;
    background: rgb(10,10,10);
    color:orangered;
    cursor: pointer;
    border: 2px solid #000;
}
.menu-text a:hover {
    color:orangered;
    background:#fff;
    border:none;
}
@media screen and (min-width: 776px){
    .menu{
        display: flex;
    }
    .menu-text {
        flex: 0 0 30%;
    }
    .menu-image {
        flex: 0 0 70%;
        clip-path: polygon( 0 0, 100% 0, 89% 100%, 0 100%);
    }
}
.menu {
    background:#cce3de;
}
.menu-text-center h2 {
    margin-top: 30px;
    letter-spacing: 1px;
    position: relative;
    right:20px;
}
.menu-text-center p {
    letter-spacing: 3px;
    text-transform: bold;
}

/*----------social icons----------*/

#social-icons {
    height:150px;
    background: #fff;
    text-align: center;
    padding: 50px 0 50px 0;
}

#social-icons a {
    display: inline-block;
    padding:5px 10px;
    margin: 0 5px;
    font-size:40px;
    border-radius: 5px;
    transition: transform 2s ease, color 2s ease;
}
#social-icons a:hover {
    transform: translateY(-20px);
}

.facebook {
    color: #3b5998;
}

.twitter {
    color:#38a1f3
}

.instagram{
    color: #e1306c;
}

.plus {
    color: #db4a39;
}

/*---------end of social icons---------*/

/*-----------numbers-----------*/
.numbers {
    background: black;
}
.number {
    text-align: center;
    background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)),
    url('ncimages/zoom20.jpg') center/cover fixed no-repeat;
    padding: 100px 100px ;
    color:orangered;
}

.number p{
    font-size: 30px;
    font-weight: bold;
}
.number:hover{
    color:#fff;
}
.number  .fas {
    font-size: 45px;
    margin: 20px 0;
}
.number h3 {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
}
@media screen and (min-width: 576px){
    #numbers {
        display: flex;
        flex-wrap: wrap;
}
    .number {
        flex: 0 0 calc(50% );
    }
}

@media screen and (min-width: 972px){
    .number {
        flex: 0 0 calc(33.3% );
    }
}

/*----------end of numbers---------*/

/*---------testimonial-----------*/
.testimonial {
    width:100%;
    margin:auto;
    padding-top:100px;
    text-align: left;
    min-height:100vh;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)),
     url('ncimages/antik6.jpg') center/cover no-repeat fixed;
     margin-top:auto;
     color:#000;
}

.testimonial p{
    position: relative;
    align-items: center;
    letter-spacing: 2px;
    font-size: 30px;
}
.newtestimonial {
    width:100%;
    margin:auto;
    min-height:100vh;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)),
     url('ncimages/zoom23.jpg') center/cover no-repeat fixed;
     margin-top:auto;
     color:#fff;
}
.testimonial-row {
    width:80%;
    margin:auto;
    display: flex;
    justify-content: space-between;
}
.testimonial-col {
    flex-basis: 28%;
    padding:10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #00968814;
    cursor: pointer;
}
.testimonial-col p {
    font-size: 14px;
}
.user {
    display: flex;
    margin: 20px 0;
    color: orangered;
}
.user img {
    width:30px;
    margin-right: 20px;
    border-radius: 3px;
}

.rr {
    position: relative;
    right:150px;
}
.dd {
    position: relative;
    right:150px;
}

.user-info h4 {
    letter-spacing:2px ;
}

/*--------end of testimonial------*/

/*------call to action----------*/

.cta {
    width:100%;
    min-height:100vh;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)),
     url('ncimages/showroom17.2.jpg') center/cover no-repeat fixed;
     background-position: center;
     border-radius: 10px;
     text-align: center;
     padding: 100px 0;
     
}
.cta h1 {
    position: relative;
    bottom: 70px;
    color:#fff;
    padding:0;
    letter-spacing: 2px;
    font-size: 38px;
}
.hero-btn {
    display: inline-block;
    text-decoration: none;
    color:#fff;
    border:1px solid #fff;
    padding:12px 34px;
    font-size: 26px;
    background:transparent;
    position: relative;
    bottom:60px;
    cursor:pointer;
}
.hero-btn:hover {
    border: 1px solid darkblue;
    background:darkblue;
    transition:1s;
}
/*------end of call to action------*/

/*-----------footer------------*/

.footer {
    width:100%;
    text-align:center;
    padding: 30px 0;
}
.footer h4 {
    margin-bottom: 25px;
    margin-top:20px;
    font-weight: 600;
    font-size: 35px;
}
.icons .fa {
    color:orangered;
    margin : 0 13px;
    cursor:pointer;
    padding:18px 0;
    margin-top: 10px;
}
/*----------footer end---------*/

/*---------AUTO EXPO----------*/

.sub-header {
    height : 50vh;
    width:100;
    background-position:center;
    background-size: cover;
    text-align: center;
    background-color:#000;
}


.sub-header a {
    font-size: 60px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
     position: relative;
     top:110px;
     right:20px;
}

.sub-header a:hover {
    background:#fff;
    color:red;

    
}


.pulsate {
    animation: pulsate 3s ease-in-out;
    animation-iteration-count: infinite;
    opacity : .3;
    color:darkblue;
    
}
@-webkit-keyframes pulsate {
    0%{
        opacity: .3;
    }
    50%{
        opacity:1;
    }
    100%{
        opacity:.3;
    }
}
/*-----------------cars---------*/

#cars {
    width: 100%;
    padding:70px 0;
    background : #efefef;
}
.title-text h1 {
    font-size: 45px;
    letter-spacing: 1px;
    color:burlywood
}

.car-box {
    width : 100%;
    display: inline-block;
    margin:auto;
}

.shelby-mustang img {
    width : 80%;
    position: absolute;
    left: 12%;    
}

.title-text .fas {
    font-size: 20px;
}

.shelby-des {
    width: 80%;
    position: absolute;
    top:1300px;
    left:188px;
    color:#fff;
}

/*-----------car 2--------------------*/


.car-box2 {
    width : 100%;
    display: inline-block;
    margin:auto;
}

.shelby-mustang2 img {
    width : 91%;
    position: absolute;
    top:1700px;
    left: 5%;    
}

.title-text2 .fas {
    font-size: 20px;
}

.shelby-des2 {
    width: 80%;
    position: absolute;
    top:2287px;
    left:100px;
    color:#000;
    text-transform: bold;
}

.title-text2 {
    font-size: 40px;
    position: absolute;
    top: 1600px;
    left:450px;
}

.title-text2 h3 {
    font-size: 40px;
    letter-spacing: 2px;
}
/*------------car 3-------------*/

.car-box3 {
    width : 100%;
    display: inline-block;
    margin:auto;
}

.shelby-mustang3 img {
    width : 80%;
    position: absolute;
    top:2700px;
    left: 8%;    
}

.title-text3 .fas {
    font-size: 20px;
}

.shelby-des3 {
    width: 80%;
    position: absolute;
    top:3455px;
    left:180px;
    color:#000;
    text-transform: bold;
}

.title-text3 {
    font-size: 35px;
    position: absolute;
    top: 2590px;
    left:300px;
}

.title-text3 h3 {
    font-size: 40px;
    letter-spacing: 2px;
}
/*------------car 3-------------*/

/*------------car 4-------------*/

.car-box4 {
    width : 100%;
    display: inline-block;
    margin:auto;
}

.shelby-mustang4 img {
    width : 80%;
    position: absolute;
    top:3780px;
    left: 12%;    
}

.title-text4 .fas {
    font-size: 20px;
}

.shelby-des4 {
    width: 80%;
    position: absolute;
    top:4380px;
    left:210px;
    color:#fff;
    text-transform: bold;
}

.title-text4 {
    font-size: 35px;
    position: absolute;
    top: 3680px;
    left:560px;
}

.title-text4 h3 {
    font-size: 40px;
    letter-spacing: 2px;
}
/*------------car 4-------------*/

/*------------car 5-------------*/

.car-box5 {
    width : 100%;
    display: inline-block;
    margin:auto;
}

.shelby-mustang5 img {
    width : 65%;
    position: absolute;
    top:4790px;
    left: 19%;    
}

.title-text5 .fas {
    font-size: 20px;
}

.shelby-des5 {
    width: 80%;
    position: absolute;
    top:5720px;
    left:300px;
    color:#000;
    text-transform: bold;
}

.title-text5 {
    font-size: 35px;
    position: absolute;
    top: 4710px;
    left:500px;
}

.title-text5 h3 {
    font-size: 40px;
    letter-spacing: 2px;
}
/*------------car 5-------------*/

/*------------car 6-------------*/

.car-box6 {
    width : 100%;
    display: inline-block;
    margin:auto;
}

.shelby-mustang6 img {
    width : 80;
    position: absolute;
    top:6150px;
    left: 9%;    
}

.title-text6 .fas {
    font-size: 20px;
}

.shelby-des6 {
    width: 80%;
    position: absolute;
    top:6900px;
    left:300px;
    color:#fff;
    text-transform: bold;
}

.title-text6 {
    font-size: 35px;
    position: absolute;
    top: 6050px;
    left:450px;
}

.title-text6 h3 {
    font-size: 40px;
    letter-spacing: 2px;
}
/*------------car 6-------------*/

/*------------car 7-------------*/

.car-box7 {
    width : 100%;
    display: inline-block;
    margin:auto;
}

.shelby-mustang7 img {
    width : 85%;
    position: absolute;
    top:7300px;
    left: 8%;    
}

.title-text7 .fas {
    font-size: 20px;
}

.shelby-des7 {
    width: 80%;
    position: absolute;
    top:8080px;
    left:155px;
    color:#fff;
    text-transform: bold;
}

.title-text7 {
    font-size: 35px;
    position: absolute;
    top: 7200px;
    left:500px;
}

.title-text7 h3 {
    font-size: 40px;
    letter-spacing: 2px;
}
/*------------car 7-------------*/

/*------------car 8-------------*/

.car-box8 {
    width : 100%;
    display: inline-block;
    margin:auto;
}

.shelby-mustang8 img {
    width : 70%;
    position: absolute;
    top: 8400px;
    left: 16%;    
}

.title-text8 .fas {
    font-size: 20px;
}

.shelby-des8 {
    width: 80%;
    position: absolute;
    top: 9200px;
    left:260px;
    color:#000;
    text-transform: bold;
    background : #fff;
}

.title-text8 {
    font-size: 35px;
    position: absolute;
    top: 8330px;
    left:400px;
}

.title-text8 h3 {
    font-size: 40px;
    letter-spacing: 2px;
}
/*------------car 8-------------*/





/*------------GARAGE-----------*/

#garage {
    padding:40px;
}


.garage {
    min-height:70vh;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)),
     url('ncimages/garage4.jpg') center/cover no-repeat fixed;
     background-position: center;
    padding: 30px 30px;
    display: flex;
}
 .garage-icon .fas {
     font-size: 40px;
     color:orangered;
     margin-right: 20px;
}

 .garage-subtitle {
     text-transform: capitalize;
     color:orangered;
     font-size: 25px;
     background :#000;
 }
 .garage-info {
     margin-top :10px;
     line-height: 1.5;
     background : #fff;
 }
 .garage-icon:hover .fas ,
 .garage-subtitle:hover {
     transition: transform 2s ease, color 2s ease;
     transform: translateY(-10px);
     color:orangered;
     cursor:pointer;
 }

 
@media screen and (min-width: 576px){
    .garage-center {
        display: flex;
        flex-wrap: wrap;
        
    }
    .garage {
        flex: 0 0 calc(50%);
    }
}

@media screen and (min-width: 972px){
    .garage {
        flex: 0 0 calc(33.3% );
    }
}


/*------------GARAGE END-----------*/

/*----------clinic--------------*/

.clinic-image{
    min-height: 80vh;
    background: url(ncimages/garage1.3.jpg) center/cover fixed no-repeat;
}
.clinic-text{
    min-height: 80vh;
    display: flex;
    align-items: center;
    background: #cce3de;
    columns: #0000;
    padding: 40px 0;
}
.clinic-text-center{
    width: 90%;
    margin: 0 auto;
}
.clinic-text h1{
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 2px;
}
.clinic-text p{
    margin: 20px 0;
    line-height: 2;
    font-size: 20px;
}
.clinic-text a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 13px 20px;
    border-radius: 200px;
    font-weight: bold;
    background: rgb(10, 10, 10);
    color:orange;
    cursor: pointer;
    border: 2px solid #000;
    margin-top:10px;
}
.clinic-text a:hover{
    color:orange;
    background: #fff;
    border:none;

}
@media screen and (min-width:776px){
    .clinic{
        display: flex;
    }
    .clinic-text{
        flex: 0 0 30%;
    }
    .clinic-image{
        flex: 0 0 70%;
        clip-path: polygon( 0 0, 100% 0, 89% 100%, 0 100%);
    }
    .clinic {
        background: #cce3de;
    }
}
/*----------clinic end-----------*/

.thanks {
    min-height: 80vh;
    background: url(ncimages/carwash5.jpg) center/cover fixed no-repeat;
}

.thanks-image h1 {
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: capitalize;
    background: #fff;
}
.thanks-image p {
    font-size: 15px;
}

/*--------contact us---------*/

.location{
    width:80%;
    margin:auto;
    padding:80px 0;
}

.location iframe {
    width:100%;
}

.contact-us {
    width:80%;
    margin:auto;
}

.contact-col {
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-col div .fa{
    font-size: 28px;
    color:cadetblue;
    margin:10px;
    margin-right: 30px;
}

.contact-col div p {
    padding:0;
}
.contact-col div h5 {
    font-size: 20px;
    margin-bottom: 5px;
    color:#555;
    font-weight: 400;
}
.contact-col input, .contact-col textarea{
	width:100%;
	padding:15px;
	margin-bottom:17px;
	outline:none;
	border:1px solid #ccc;
	box-sizing:border-box;
}


/*--------contact us end---------*/


